[data-theme='compact'] .domain-collapse,
.domain-collapse {
  background-color: transparent;
}

[data-theme='compact'] .domain-collapse .domain-panel,
.domain-collapse .domain-panel {
  background: #ffffff;
  margin-bottom: 20px;
  border-bottom: none;
  padding: 0;
}

