.previewBox {
  width: 104px;
  height: 104px;
}

.uploadContent {
  align-self: flex-start;
  padding: 1rem 0;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
}

.pdf path {
  stroke: #C80A0A;
}

.txt path {
  stroke: #688D89;
}

.csv path {
  stroke: #0D9048;
}