.header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 0 var(--content-gutter);
  height: var(--header-h);
  border-bottom: 1px solid #f0f0f0;
}

.trigger {
  font-size: 19px;
  cursor: pointer;
  color: #5d5d5d;
  line-height: var(--header-h);
}

.trigger:hover {
  color: #1890ff;
}