.header {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 0 var(--content-gutter);
}

.trigger {
  font-size: 19px;
  line-height: var(--header-h);
  cursor: pointer;
  color: rgb(93, 93, 93);
}

.trigger:hover {
  color: #1890ff;
}