.cover {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
}

.item {
  margin-bottom: 50px !important;
  padding: 0!important;
}

.card {
  cursor: pointer;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.01);
}

.avatar {
  color: #f56a00;
  background-color: #fde3cf;
}
