.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: inline-block;
  flex: 1 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 16;
  margin: 0;
}