.around {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 80px;
  height: 80px;
  display: flex;
}

.title {
  margin: 0!important;
  text-align: center;
}

/* .title {
  margin: 0;
  line-height: 1.23;
  font-size: 26px;
  color: #003876;
  text-align: center;
} */