.answer {
  /* display: flex;
  align-items: center; */
  cursor: pointer;
  transition: all .2s;
}

.answer:hover {
  transform: scale(1.01);
}



.box {
  position: relative;
}

.radio {
  width: 0;
  height: 0;
  display: none;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgb(73, 255, 115);
  width: 40px;
  height: 40px;
  /* position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.radio:checked + .label {
  background-color: rgb(110, 240, 123);
}