.answer {
  cursor: pointer;
  transition: all .2s;
  position: relative;
  padding: 1rem 1.5rem;
  border: 1px solid #f0f0f0;
  border-left-width: 6px;
  border-radius: 20px;
  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
}

.answer:hover {
  transform: translateX(10px);
}

.radio {
  width: 0;
  height: 0;
  display: none;
}

.markBox {
  position: relative;
  border: 2px solid #e5e5e5;
  border-radius: 100%;
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}

.mark {
  font-size: 23px;
  opacity: 0;
  transition: all .2s;
  color: #d5d5d5;
}

.radio:checked + .markBox,
.answer:hover .markBox {
  background-color: #ffffff;
}

.radio:checked + .markBox .mark {
  color: #29d55d;
  opacity: 1;
}

.answer:hover .markBox .mark {
  opacity: 1;
}

.box {
  position: relative;
}

