.sidenav {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
}

.logo {
  height: var(--header-h);
  display: flex;
  align-items: center;
  padding: 20px;
}

.logoIcon {
  color: #dadada;
  margin-right: 0.5rem;
  font-size: 1.8rem;
  transition: all 0.2s;
}

.logoText {
  color: #dadada !important;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  transition: all 0.5s;
}

.sidenav.closed .logoIcon {
  transform: scale(1.1) translateX(5px);
}

.sidenav.closed .logoText {
  opacity: 0;
}

.trigger {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 48px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  background: #002140;
  cursor: pointer;
}

.trigger span {
  transition: all 0.2s;
}

.sidenav.closed .trigger span {
  transform: scale(-1);
}


.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 100;
}