.question {
  padding: 0!important;
}

.choice {
  transition: all .2s;
}

@media (min-width: 768px) {
  .question {
    padding: 0px 24px!important;
  }

  .choice:hover {
    transform: translateX(10px);
  }
}

.number {
  background-color: lightgreen;
  color: green;
}

.tag {
  border-radius: 10px;
  cursor: pointer;
}

.divider {
  font-size: 14px!important;
}

.section {
  margin-bottom: 1.6rem;
}

.alert {
  margin-bottom: 14px;
}
