.space {
  width: 100%;
}

.submit {
  display: block;
  width: 100%;
}

.forgotWrapper {
  display: flex;
  justify-content: space-between;
}

.forgotPassword {
  margin-left: auto;
}

.redirectQuestion {
  text-align: center;
  padding: rem 0;
  margin-top: auto;
}
