@media (min-width: 1600px) {
  .container {
    max-width: 70%;
    margin: 0 auto;
  }
}

.item {
  margin-bottom: 50px!important;
}

.itemCard {
  cursor: pointer;
  transition: all .2s;
}

.itemCard:hover {
  transform: scale(1.01);
}