@import url('../node_modules/antd/dist/antd.css');
@import url('../node_modules/@fontsource/maven-pro');

:root {
  --header-h: 65px;
  --sider-w: 260px;
  --sider-collapsed-w: 80px;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Maven Pro', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
