:root {
  --header-h: 65px;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Maven Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p-component {
  font-family: 'Maven Prop', sans-serif!important;
}
