.card {
  position: sticky;
  top: 0;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.progressCol {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  margin-bottom: 0!important;
}

@media (min-width: 992px) {
  .title {
    text-align: left;
  }
}
