.layout {
  padding: var(--content-gutter);
  height: 100%;

  display: flex;
  overflow-y: auto;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  justify-content: center;
  width: 100%;
}



.footer {
  text-align: center;
}